@import "tailwindcss";

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}

@theme {

    --color-primary: #E10600;
    --color-primary-hover: #c10500;
    --color-bg-main: #000000;
    --color-bg-overlay: rgba(0,0,0,0.75);
    --color-text-main: #ffffff;
    --color-text-muted: rgba(255,255,255,0.8);
    --color-text-muted-soft: rgba(255,255,255,0.7);
    --color-error: #ef4444;
}